@import "tailwindcss";
@plugin "daisyui";


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.dark-2{
  color: #444444;
}
.dark-3{
  color: #737373;
}
.primary-color{
  background-color: #FF3811;
}
.primary-font{
  color: #FF3811;
}
.dark-7-bg{
  background-color: #F3F3F3;
}
.dark-1{
  background-color: #151515;
}
.dark-4{
  color: #A2A2A2;
}